* {
    margin: 0px;
    padding: 0px;
}

.tools {
    width: 500px;
    margin: auto;
    
}

.tool {
    
    width: 100px;
    float: left;
    height: 138px;
}


.fa{
    color: yellow;
}

.sao{
    color: gray;
}

.image {
    background: hsl(276deg 85% 56%);
    height: 83px;
    border: 2px solid;
    border-radius: 5%;
    border-top: none;
    border-bottom: none;
}

.img-fluid {
    width: 96px;
    height: 83px;
}

.component-name {
    width: 295px;
    height: 30px;
    background: hsl(115deg 83% 56%);
    clear: both;
    text-align: center;
    border-radius: 5px;
    margin-left: 55px;
    border: 2px solid black;
    color: yellow;
    font-size: 1.4rem;
    font-family: cursive;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}
.title{
    height: 21px;
    padding-left: 20px;
    padding-top: 5px;
    border: 2px solid black;
    background: hsl(112deg 51% 61%);
    border-radius: 10%;
    color: yellow;
    font-family: cursive;
    font-weight: bold;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}
.price{
    height: 21px;
    padding-bottom: 3px;font-size: 1.2rem;
    background: hsl(112deg 51% 61%);
    padding-left: 5px;
    color: yellow;
    border: 2px solid black;
    border-radius: 10%;
    text-align: center;
    font-family: cursive;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}