.land{
    position: relative;
    width: 100px;
    height: 100px;
    background-image: linear-gradient(90deg,rgb(138, 51, 51), rgb(182, 104, 59));
    z-index: 122;
    box-shadow: 0px 0px 4px black;
    border-radius: 4px;
    transition: transform .2s linear;

}

.land:hover{
    transform: translateY(-8px);
}

.img{
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 90px;
    height: 90px;
}
