.start {
    text-align: center;
    margin-top: 14%;
    color: yellow;
    font-family: cursive;
    font-weight: bold;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}


.start p {
    margin-top: 3%;
    font-size: 25px;
}



#name-person {
    display: block;
    position: relative;
    left: 41.5%;
    margin: 30px -3px;
    background: #c4ffe4;
    font-size: 19px;
    border: none;
    border-radius: 5px;
    font-family: cursive;
    font-weight: bold;
    text-align: center;
}

#btn-play {
    border: none;
    background: #a22fee;
    color: yellow;
    font-family: cursive;
    font-weight: bold;
    font-size: 24px;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;  

}

