body{
  font-family: cursive;
  background: #A22FEE;
}

.gameContainer{
  max-width: 99vw;
  max-height: 99vh;
}

.header-top{
  display:flex;
  align-items: center;
  margin-top: 20px;
}

.boardContainer{
  display: flex;
  margin-top:50px;
  justify-content: center;
}

.gameContainer {
  /* display: none; */
}

.startGame {
  display: block;
  
}

